/* body */
body {
    font-family: 'Oswald', sans-serif;
}


/* navbar */
.navbar .nav-link:hover {
    background-color: #a1bfee;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #a1bfee;
}

.jumbotron img {
    margin: 20px;
}


.jumbotron h1 {
    width: auto;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2rem;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
}

/* gallery */
.gallery-img {
    width: 100%;
}

#gallery .row>* {
    padding: 0;
}

footer {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    box-shadow: 5px 5px 5px black;
    margin-top: 100px;
    background-color: #a1bfee;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}

section {
    padding-top: 5rem;
}

